@font-face {
    font-family: EckmannD;
    src: url(../fonts/EckmannD.otf);
}

#header h1{
	font-family: EckmannD;
	font-size: 330%;
}
#empanadasText{
	font-size: 80%;
	text-align: justify; 
}

#pastelesText{
	font-size: 80%;
	text-align: justify;
}

#footerHeader h2{
	color: rgba(255, 255, 255, 0.9);
}
#footerText, #footerText b{
	color: rgba(255, 255, 255, 0.9);
}



#centerBox input[type="submit"],
#centerBox input[type="reset"],
#centerBox input[type="button"],
#centerBox .button {
	text-align: center;
	background: #E10281;
	box-shadow: inset 0 0 0 1px #ffffff;
	color: #ffffff;
	
}

#centerBox input[type="submit"]:hover,
#centerBox input[type="reset"]:hover,
#centerBox input[type="button"]:hover,
#centerBox .button:hover {
	text-align: center;
	background: rgba(225, 2, 129, 0.8);
	color: #ffffff;
}

a.nounderline{  
 border-style: none; 
}  

#empresa img{
	height: 50%; 
	width: 50%; 
	text-align: center;
}
#empresa section p{
	text-align: justify;
}

#especialNavidad{
	font-size: 60%;
	margin-top: 5%;
}

#nav_bar{
	height: 0;
}

#obrador{
	margin-left: 7%;
}

